$light-grey: rgb(132, 116, 155);

$dark-blue: #2c2839;
// Best to not use total white in any design.
$white: #f5f5f5;
// Best to not use total black in any design.
$black: #121212;

$folder: tan;

$file-bg: #084a08;

$highlight: #5900ff;
$background: #272747;
$code-background: #1a003d;
$code-text-important: #60c0c0;

$homestuck: #7cff2b;

// Best to not use total white in any design.
$white: #f5f5f5;
// Best to not use total black in any design.
$black: #121212;