@import 'colors';

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: $grey;
  font-family: monospace;
}

.line-counter {
  width: 60px;
  padding: 20px;
  font-size: 14pt;
  font-weight: 600;
  color: $light-grey;
  line-height: 24pt;

  p {
    margin: 0;
    padding: 0;
    text-align: right;
  }
}

.editor {
  display: block;
  flex: 1;
  padding: 20px;
  font-size: 14pt;
  font-weight: 600;
  color: $white;
  line-height: 24pt;
  resize: none;
  background-color: $grey;
  border: none;
}